<section
  class="container mt-5 d-flex flex-column flex-md-row justify-content-center align-items-center bg-dark text-white p-5 rounded"
>
  <div class="col-md-4 text-center mb-4 mb-md-0">
    <img
      [src]="user?.image"
      class="rounded-end-circle img-fluid"
      alt="{{ user?.username }}"
    />
  </div>
  <div class="col-md-8 d-flex align-items-center">
    <div class="card-body">
      <h3 class="text-white">{{ user?.first_name }}</h3>
      <h4 class="text-white">{{ user?.last_name }}</h4>
      <hr class="bg-white" />
      <p><strong>Nombre Usuario: </strong>{{ user?.username }}</p>
      <p><strong>Email: </strong>{{ user?.email }}</p>

      <div class="d-flex justify-content-start gap-2 mt-4">
        <button class="btn btn-outline-danger" (click)="deleteUser()">
          Eliminar
        </button>
        <a
          class="btn btn-outline-danger"
          [routerLink]="['/dashboard', 'updateuser', user?._id]"
          >Actualizar</a
        >
        <a class="btn btn-outline-danger" [routerLink]="['/dashboard', 'users']"
          >Volver al listado</a
        >
      </div>
    </div>
  </div>
</section>
