<section
  class="container mt-5 d-flex justify-content-center align-items-center"
>
  <div class="col-md-4 text-center">
    <img
      [src]="user?.image"
      class="rounded-end-circle"
      alt="{{ user?.username }}"
      style="
        width: 200px;
        height: 200px;
        object-fit: cover;
        border: 3px solid;
        background-color: rgb(189, 150, 114);
      "
    />
  </div>
  <div class="col-md-8 d-flex align-items-center">
    <div class="card-body">
      <h3>{{ user?.first_name }}</h3>
      <h4>{{ user?.last_name }}</h4>
      <hr />
      <p><strong>Nombre Usuario: </strong>{{ user?.username }}</p>
      <p><strong>Email: </strong>{{ user?.email }}</p>

      <div class="d-flex justify-content-start gap-2 mt-4">
        <button class="btn btn-outline-danger" (click)="deleteUser()">
          Eliminar
        </button>
        <a
          class="btn btn-outline-danger"
          [routerLink]="['/dashboard', 'updateuser', user?._id]"
          >Actualizar</a
        >
        <a class="btn btn-outline-danger" [routerLink]="['/dashboard', 'users']"
          >Volver al listado</a
        >
      </div>
    </div>
  </div>
</section>
