<div class="container bg-dark text-white p-4 rounded">
  <h2 class="text-center mb-4">Lista de usuarios</h2>
  <div class="row g-4">
    @if (currentPage === 1){ @for (user of arrUsersPage1; track user._id){
    <div class="col-md-3">
      <div class="user-card">
        <app-user-card [user]="user"></app-user-card>
      </div>
    </div>
    } } @if (currentPage === 2){ @for (user of arrUsersPage2; track user._id){
    <div class="col-md-3">
      <div class="user-card">
        <app-user-card [user]="user"></app-user-card>
      </div>
    </div>
    } }
  </div>

  <div class="d-flex justify-content-center mt-4">
    <button
      (click)="changePage(1)"
      class="btn btn-outline-danger mx-2"
      [disabled]="currentPage === 1"
    >
      Página 1
    </button>
    <button
      (click)="changePage(2)"
      class="btn btn-outline-danger mx-2"
      [disabled]="currentPage === 2"
    >
      Página 2
    </button>
  </div>
</div>
