<div class="card h-100 shadow-sm border-2 bg-light">
  <img
    [src]="user.image"
    class="card-img-top rounded-circle mx-auto mt-3"
    alt="{{ user.username }}"
  />
  <div class="card-body text-center">
    <h5 class="card-title">{{ user.first_name }}</h5>
    <h5 class="card-title">{{ user.last_name }}</h5>
    <div class="d-flex justify-content-center mt-3 gap-2">
      <a
        class="btn btn-outline-danger w-100"
        [routerLink]="['/dashboard', 'users', user._id]"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></a>
      <a
        class="btn btn-outline-danger w-100"
        [routerLink]="['/dashboard', 'updateuser', user._id]"
        ><i class="fa-solid fa-arrows-rotate"></i
      ></a>
      <button class="btn btn-outline-danger w-100" (click)="deleteUser()">
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </div>
  </div>
</div>
