<div class="card h-100 shadow-sm border-2 bg-gradient bg-light">
  <img
    [src]="user.image"
    class="car-img-top rounded-circle mx-auto mt-3"
    alt="{{ user.username }}"
    style="width: 100px; height: 100px"
  />
  <div class="card-body text-center">
    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
    <div class="d-flex justify-content-center mt-3">
      <a
        class="btn btn-outline-primary mx-1 w-100"
        [routerLink]="['/dashboard', 'users', user._id]"
        title="Ver detalle"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></a>
      <a
        class="btn btn-outline-primary btn-block mx-1 w-100"
        [routerLink]="['/dashboard', 'users', user._id, 'edit']"
        title="Actualizar"
        ><i class="fa-solid fa-arrows-rotate"></i
      ></a>
      <a class="btn btn-outline-primary btn-block mx-1 w-100" title="Borrar"
        ><i class="fa-solid fa-trash-can"></i
      ></a>
    </div>
  </div>
</div>
